@font-face { font-family: 'gagalin'; src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'lifehack'; src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff"); font-weight: 500; font-style: normal; }
@font-face { font-family: 'ubuntu'; src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.woff") format("woff"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'ubuntu'; src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-b-webfont.woff") format("woff"); font-weight: 700; font-style: normal; }
@font-face { font-family: 'ubuntu'; src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff"); font-weight: 300; font-style: normal; }
@font-face { font-family: 'ubuntu'; src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff"); font-weight: 500; font-style: normal; }
* { -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body { height: 100%; }

body { margin: 0; font-family: 'ubuntu'; color: #fff; line-height: 1.42; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.wrapper { overflow: hidden; width: 100%; min-width: 940px; min-height: 100%; }

ul { margin: 0; padding: 0; }
ul li { list-style: none; }

.container { margin: 0 auto; width: 945px; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

h1, h2, h3, h4, h5, h6 { margin: 0; font-weight: normal; }

p { padding: 0; margin: 0; }

button { border: none; background: transparent; cursor: pointer; }

footer { position: relative; width: 100%; }

.section { height: 100vh; min-height: 650px; }
.section_centered .container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.button { padding: 10px 15px; background: #e45028; color: #fff; border-radius: 5px; text-transform: uppercase; font-family: 'ubuntu'; font-size: 13px; font-weight: 500; }

.button_bg_none { background: none; font-family: 'ubuntu'; font-size: 14px; font-weight: 300; text-transform: none; margin-left: 20px; }

.title { font-family: 'gagalin'; font-size: 72px; margin-bottom: 45px; }

.hero { background: url("../img/texture.png"), url("../img/start-bg.png") center center no-repeat; background-size: cover; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.hero__container { position: relative; }

.hero__content { -webkit-box-flex: .8; -ms-flex: .8; flex: .8; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.hero__title { color: #f9b43b; margin-top: 44px; margin-bottom: 22px; }

.hero__text { color: #fff; font-family: 'lifehack'; font-weight: 500; font-size: 65px; line-height: 1em; }

.hero__picture { margin: 0 16px; display: inline-block; margin-bottom: 38px; }

.header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-top: 5px; }

.header__btns { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.header__button { margin-left: 15px; }

.menu__list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.menu__item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.menu__item:last-child:after { display: none; }
.menu__item:after { content: ""; display: inline-block; width: 4px; height: 4px; border-radius: 50%; background: #fff; margin: 0 16px; }

.menu__link { color: #fff; text-decoration: none; font-family: 'ubuntu'; font-size: 13px; font-weight: 500; text-transform: uppercase; }

.logo__icon { width: 92px; height: 69px; }

.fixed-menu { position: fixed; top: 77px; right: 172px; }

.fixed-menu_link { display: block; width: 6px; height: 6px; border-radius: 50%; background-color: #fff; margin-top: 15px; position: relative; }

.fixed-menu_item:hover .fixed-menu_link::after, .fixed-menu_item_active .fixed-menu_link::after { content: ""; width: 16px; height: 16px; border-radius: 50%; border: 1px solid #fff; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.arrow__down { position: absolute; bottom: 40px; left: 48%; }

.arrow__down-link { display: block; width: 100%; height: 100%; }

.arrow__down-icon { fill: #fff; width: 35px; height: 25px; }

.best { background: url("../img/bg_best.png") center center no-repeat; background-size: cover; }

.best__title { color: #2f3234; text-align: center; }

.best__list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: baseline; -ms-flex-align: baseline; align-items: baseline; }

.best__item { text-align: center; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; margin-right: 20px; color: #2f3234; font-weight: 300; font-size: 14px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; }
.best__item:last-child { margin-right: 0; }

.best__img { margin-bottom: 20px; }

.best__icon { width: 97px; height: 85px; }

.best__desc-title { font-family: 'lifehack'; font-size: 24px; padding-bottom: 15px; }

.reviews { background: #000; position: relative; }

.reviews__list { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.reviews__item { width: 25%; height: 50%; background-size: cover; background-position: center center; background-repeat: no-repeat; -webkit-filter: grayscale(100%); filter: grayscale(100%); position: relative; }
.reviews__item:hover .reviews__text { opacity: 1; -webkit-transition: opacity .3s; transition: opacity .3s; }

.reviews__text { position: absolute; top: 0; left: 0; top: 0; bottom: 0; background: rgba(0, 0, 0, 0.52); padding: 25px; padding-left: 20px; color: #fff; opacity: 0; overflow: hidden; -webkit-transition: opacity .3s; transition: opacity .3s; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; }

.reviews__text-title { font-family: 'gagalin'; text-transform: uppercase; padding-bottom: 25px; font-weight: 14px; }

.reviews__text-desc { font-weight: 300; width: 72%; font-size: 14px; overflow: hidden; }

.reviews__text-button { background-color: #2f3234; margin-top: 17px; }

.accordeon__item { position: relative; margin-bottom: 30px; }
.accordeon__item:last-child { margin-bottom: 0; }

.accordeon__item_active .accordeon__appearance { height: 95px; }

.accordeon__item_active .accordeon__title { color: #f9b43b; }

.accordeon__item_active .accordeon__title::before { content: ''; border: 5px solid transparent; width: 0; height: 0; border-bottom-color: #f9b43b; border-top-width: 0; border-left-width: 5px; border-right-width: 5px; margin-right: 9px; }

.accordeon__title { cursor: pointer; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 14px; margin-bottom: 17px; }
.accordeon__title:before { content: ''; border: 5px solid transparent; width: 0; height: 0; border-top-color: #f9b43b; border-bottom-width: 0; border-left-width: 5px; border-right-width: 5px; display: inline-block; margin-right: 9px; }

.accordeon__desc { line-height: 1.42em; }

.accordeon__desc-name { font-family: 'ubuntu'; font-weight: 700; font-size: 14px; margin-bottom: 12px; }

.accordeon__desc-text { font-family: 'ubuntu'; font-weight: 300; font-size: 14px; width: 53%; }

.accordeon__appearance { height: 0; overflow: hidden; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.accordeon__avatar { width: 18%; border-radius: 50%; background-position: center center; background-size: cover; background-repeat: no-repeat; overflow: hidden; display: inline-block; margin: 0 18px; }

.map { background-image: url("../img/map.png"); background-position: center center; background-repeat: no-repeat; background-size: cover; position: relative; }

.carte { background: url("../img/bg-menu.png") center center no-repeat/cover; position: relative; }

.carte__title { color: #fff; margin-bottom: 0; margin-top: 100px; }

.carte__accordeon { position: absolute; top: 0; right: 0; bottom: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

.carte__accordeon-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; height: 100%; }

.carte__accordeon-item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; height: 100%; position: relative; }

.carte__accordeon-item_active { width: 45%; }

.carte__accordeon-item_active .carte__accordeon-appearance { width: 100%; height: 100%; background: #2f3234; opacity: .93; line-height: 1.42em; }

.carte__accordeon-item_active .carte__accordeon-title-text { color: #f9b43b; }

.carte__accordeon-title { position: relative; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; background-position: center center; background-repeat: no-repeat; background-size: cover; padding: 30px 15px; }
.carte__accordeon-title::before { content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(20, 20, 20, 0.7); display: block; }

.carte__accordeon-title_meat { background-image: url(../img/menu_meat.png); }

.carte__accordeon-title_veg { background-image: url(../img/menu-veg.png); }

.carte__accordeon-title_diet { background-image: url(../img/menu-diet.png); }

.carte__accordeon-title-text { font-size: 40px; margin-bottom: 17px; -webkit-writing-mode: vertical-lr; -ms-writing-mode: tb-lr; writing-mode: vertical-lr; -webkit-transform: rotate(180deg); transform: rotate(180deg); }

.carte__accordeon-appearance { width: 0; height: 0; overflow: hidden; }

.carte__accordeon-desc-text { font-family: 'ubuntu'; font-size: 14px; font-weight: 300; padding: 62px 35px; }

.team { background: url("../img/bg_team.png") center center no-repeat; background-size: cover; position: relative; }

.team__container { width: 50%; height: 100%; position: absolute; top: 0; left: 55%; background-color: #2f3234; opacity: .93; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.team__content { width: 80%; margin: 0 auto; }

.team__title { color: #f9b43b; }

.order { background: url("../img/order-texture.png"), url("../img/order-bg.png") center center no-repeat; background-size: cover; }

.order__title { color: #f9b43b; text-align: center; }

.form { display: -webkit-box; display: -ms-flexbox; display: flex; }

.form__col { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; margin-right: 20px; }
.form__col:last-child { margin-right: 0; }

.form__row { display: -webkit-box; display: -ms-flexbox; display: flex; margin-bottom: 20px; }
.form__row:last-child { margin-bottom: 0; }

.form__block { margin-right: 20px; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; font-family: 'ubuntu'; font-size: 14px; font-weight: 300; }
.form__block:last-child { margin-right: 0; }

.form__block-title { margin-bottom: 5px; }

.form__block-input { border-radius: 5px; background: #fff; border: 2px solid #fff; width: 100%; padding: 9px 10px; outline: none; -webkit-transition: border-color .3s; transition: border-color .3s; }

.form__block-input:focus { border: 2px solid #f9b43b; -webkit-transition: border-color .3s; transition: border-color .3s; }

.form__block-input-textarea { resize: vertical; min-height: 107px; }

.form__block_controlls { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-right: 0; }

.form__radio, .form__checkbox { display: none; }

.form__radio_fake, .form__checkbox_fake { width: 16px; height: 16px; border: 1px solid #c9c9c9; background-image: -webkit-gradient(linear, left bottom, left top, from(#ededed), to(#ffffff)); background-image: linear-gradient(to top, #ededed, #ffffff); position: relative; margin-right: 10px; }

.form__radio_fake { border-radius: 50%; }

.form__radio:checked ~ .form__radio_fake:after { content: ""; width: 8px; height: 8px; border-radius: 50%; background: #e35028; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); -webkit-transition: .3s; transition: .3s; }

.form__checkbox:checked ~ .form__checkbox_fake:after { content: '\2714'; color: #e35028; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); -webkit-transition: .3s; transition: .3s; }

.footer { background: url("../img/footer-bg.png") center center/cover no-repeat; position: absolute; bottom: 0; left: 0; }

.footer__container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

.footer__col { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.social { height: 100%; }

.social__icon { width: 20px; height: 20px; margin-right: 20px; }

.social__icon { fill: #2f3234; display: inline-block; -webkit-transition: fill .3s; transition: fill .3s; }
.social__icon:hover { fill: #fff; -webkit-transition: fill .3s; transition: fill .3s; }

.social__icon_margin-0 { margin-right: 0; }

.social__list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100%; }

.phone__icon { fill: #e45028; width: 12px; height: 11px; display: inline-block; }

.phone__number { color: #e45028; font-family: 'ubuntu'; font-weight: 700; font-size: 14px; display: inline-block; padding-bottom: 10px; }

.address { font-family: 'ubuntu'; font-weight: 300; font-size: 14px; padding-top: 10px; }

/*# sourceMappingURL=main.css.map */