@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

@media screen and (max-width: 768px) {
  html {
    font-size: 0.9375rem; } }

@media screen and (max-width: 480px) {
  html {
    font-size: 0.8125rem; } }

body {
  margin: 0;
  font-family: 'ubuntu';
  color: #fff;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.wrapper {
  overflow: hidden;
  width: 100%;
  min-height: 100%; }

.container {
  margin: 0 auto;
  width: auto;
  max-width: 945px;
  width: 95%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal; }

p {
  padding: 0;
  margin: 0; }

button {
  border: none;
  background: transparent;
  cursor: pointer; }

footer {
  position: relative;
  width: 100%; }

.section {
  height: 100vh;
  min-height: 650px; }
  .section_centered .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

img {
  max-width: 100%; }

.button {
  padding: 0.63rem 0.94rem;
  background: #e45028;
  color: #fff;
  border-radius: 0.3125rem;
  text-transform: uppercase;
  font-family: 'ubuntu';
  font-size: 0.8125rem;
  font-weight: 500; }
  @media screen and (max-width: 768px) {
    .button {
      margin-left: 0; } }

.button_bg_none {
  background: none;
  font-family: 'ubuntu';
  font-size: 0.875rem;
  font-weight: 300;
  text-transform: none;
  margin-left: 1.25rem; }

.title {
  font-family: 'gagalin';
  font-size: 4.5rem;
  margin-bottom: 0.625em; }
  @media screen and (max-width: 480px) {
    .title {
      font-size: 3.5rem; } }

.hero {
  background: url("../img/texture.png"), url("../img/start-bg.png") center center no-repeat;
  background-size: cover;
  position: relative; }

.hero__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .hero__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.hero__title {
  color: #f9b43b;
  margin-top: 2rem;
  margin-bottom: 2rem; }
  @media screen and (max-width: 768px) {
    .hero__title {
      margin-top: 2.5rem;
      margin-bottom: 1.5rem;
      font-size: 4rem; } }

.hero__text {
  color: #fff;
  font-family: 'lifehack';
  font-weight: 500;
  font-size: 4.0625rem;
  line-height: 0.9em; }
  @media screen and (max-width: 768px) {
    .hero__text {
      text-align: center;
      width: 74%;
      font-size: 3.8rem;
      margin-bottom: 0; } }
  @media screen and (max-width: 480px) {
    .hero__text {
      width: initial; } }

.hero__desc {
  padding-bottom: 24%; }

.hero__picture {
  width: 70;
  margin: 0 1.6%;
  display: inline-block;
  margin-bottom: 17%; }
  @media screen and (max-width: 768px) {
    .hero__picture {
      margin: 0; } }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.9% 0.2% 0 0; }

.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__button {
  margin-left: 0.9375rem; }
  @media screen and (max-width: 768px) {
    .header__button {
      margin: 0 0.9375rem; } }

@media screen and (max-width: 768px) {
  .menu {
    display: none; } }

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .menu__item:last-child:after {
    display: none; }
  .menu__item:after {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff;
    margin: 0 16px; }

.menu__link {
  color: #fff;
  text-decoration: none;
  font-family: 'ubuntu';
  font-size: 0.8125rem;
  font-weight: 500;
  text-transform: uppercase; }

.logo__icon {
  width: 5.75rem;
  height: 4.3125rem; }

.fixed-menu {
  position: fixed;
  top: 15.4%;
  right: 15.1%; }
  @media screen and (max-width: 768px) {
    .fixed-menu {
      display: none; } }

.fixed-menu_link {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  margin-top: 15px;
  position: relative; }

.fixed-menu_item:hover .fixed-menu_link::after,
.fixed-menu_item_active .fixed-menu_link::after {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.arrow__down {
  position: absolute;
  left: 48.5%;
  bottom: 2.5rem; }

.arrow__down-link {
  display: block;
  width: 100%;
  height: 100%; }

.arrow__down-icon {
  fill: #fff;
  width: 1.8125rem;
  height: 0.875rem; }

.best {
  background: url("../img/bg_best.png") center center no-repeat;
  background-size: cover; }

.best__title {
  color: #2f3234;
  text-align: center;
  margin-bottom: 0.4em; }

.best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }
  @media screen and (max-width: 480px) {
    .best__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.best__item {
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.5%;
  color: #2f3234;
  font-weight: 300;
  font-size: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }
  .best__item:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .best__item {
      margin-right: 0;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      text-align: left;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-bottom: 4%; } }

.best__img {
  margin-bottom: 8%; }
  @media screen and (max-width: 480px) {
    .best__img {
      margin: 0; } }

.best__icon {
  width: 6.0625rem;
  height: 5.3125rem; }

@media screen and (max-width: 480px) {
  .best__desc {
    width: 70%; } }

.best__desc-title {
  font-family: 'lifehack';
  font-size: 1.5rem;
  padding-bottom: 3.4%; }

.reviews {
  background: #000;
  position: relative; }

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.reviews__item {
  width: 25%;
  height: 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position: relative; }
  .reviews__item:hover .reviews__text {
    opacity: 1;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s; }
  @media screen and (max-width: 768px) {
    .reviews__item {
      width: 50%;
      height: 25%; } }

.reviews__text {
  position: absolute;
  top: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.52);
  padding: 8%;
  padding-left: 11%;
  color: #fff;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }
  @media screen and (max-width: 768px) {
    .reviews__text {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  @media screen and (max-width: 480px) {
    .reviews__text {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.reviews__text-title {
  font-family: 'gagalin';
  text-transform: uppercase;
  padding-bottom: 4%; }
  @media screen and (max-width: 768px) {
    .reviews__text-title {
      padding-bottom: 2%; } }
  @media screen and (max-width: 480px) {
    .reviews__text-title {
      text-align: center;
      font-size: 2rem; } }

.reviews__text-desc {
  font-weight: 300;
  width: 72%;
  font-size: 0.875rem;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .reviews__text-desc {
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .reviews__text-desc {
      display: none; } }

@media screen and (max-width: 480px) {
  .reviews__btn {
    display: none; } }

.reviews__btn_phone {
  display: none; }
  @media screen and (max-width: 480px) {
    .reviews__btn_phone {
      display: block;
      text-align: center; } }

.reviews__text-button {
  background-color: #2f3234;
  margin-top: 8%; }

.map {
  background-image: url("../img/map.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.carte {
  background: url("../img/bg-menu.png") center center no-repeat/cover;
  position: relative; }

.title__carte {
  color: #fff;
  position: absolute;
  top: 9%;
  left: 10%; }

.carte__accordeon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 100%; }

.carte__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 100%; }

.carte__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }

.carte__title {
  min-width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2% 1%; }
  .carte__title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(20, 20, 20, 0.7);
    display: block; }
  @media screen and (max-width: 480px) {
    .carte__title {
      padding: 0.7% 0.5%; } }

.carte__title_meat {
  background-image: url(../img/menu_meat.png); }

.carte__title_veg {
  background-image: url(../img/menu-veg.png); }

.carte__title_diet {
  background-image: url(../img/menu-diet.png); }

.carte__title-text {
  position: absolute;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  top: 90%;
  white-space: nowrap;
  left: 50%;
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
  font-size: 2.5rem;
  font-family: 'gagalin'; }

.carte__desc {
  width: 0;
  overflow: hidden;
  font-size: 0.875rem;
  font-weight: 300; }

.carte__text {
  padding: 10% 8%;
  line-height: 1.7em; }
  @media screen and (max-width: 480px) {
    .carte__text {
      padding: 5% 3.5%; } }

.js-carte__item {
  width: 47%; }
  @media screen and (max-width: 768px) {
    .js-carte__item {
      width: 100%; } }
  @media screen and (max-width: 480px) {
    .js-carte__item {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10; } }

.js-carte__item .carte__desc {
  width: 100%;
  background: #2f3234;
  opacity: .93;
  line-height: 1.42em; }
  @media screen and (max-width: 480px) {
    .js-carte__item .carte__desc {
      opacity: .98; } }

.js-carte__item .carte__title {
  color: #f9b43b; }

.team {
  background: url("../img/bg_team.png") center center no-repeat;
  background-size: cover;
  position: relative; }

.title__team {
  color: #f9b43b;
  margin-bottom: 1.6rem; }

.team__accordeon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  background-color: #2f3234;
  opacity: .93;
  width: 50%;
  padding: 0 7%;
  padding-bottom: 2.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .team__accordeon {
      width: 100%;
      left: 0;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0; } }

.team__item {
  margin-bottom: 3%; }
  .team__item:last-child {
    margin-bottom: 0; }
  @media screen and (max-width: 768px) {
    .team__item {
      text-align: center;
      margin-bottom: 3.5%; } }

.team__title {
  cursor: pointer;
  font-size: 0.875rem;
  margin-bottom: 3.5%; }
  .team__title:before {
    content: '';
    border: 5px solid transparent;
    width: 0;
    height: 0;
    border-top-color: #f9b43b;
    border-bottom-width: 0;
    border-left-width: 5px;
    border-right-width: 5px;
    display: inline-block;
    margin-right: 1%; }
  @media screen and (max-width: 768px) {
    .team__title {
      font-size: 1.5625rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.team__text {
  height: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .team__text {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.team__avatar {
  width: 7.25rem;
  height: 7.25rem;
  overflow: hidden;
  background-repeat: 50%;
  margin: 0 3.9%; }
  @media screen and (max-width: 768px) {
    .team__avatar {
      margin-bottom: 2%; } }

.js-team__item .team__text {
  height: initial; }

.js-team__item .team__title {
  color: #f9b43b; }

.js-team__item .team__title::before {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.team__desc {
  font-family: 'ubuntu';
  font-size: 0.875rem; }

.team__desc-name {
  font-weight: 700;
  margin-bottom: 2%; }

.team__desc-text {
  font-weight: 300;
  width: 56%;
  line-height: 1.65em; }
  @media screen and (max-width: 768px) {
    .team__desc-text {
      margin: 0 auto;
      width: 75%; } }

.order {
  background: url("../img/order-texture.png"), url("../img/order-bg.png") center center no-repeat;
  background-size: cover; }

.order__title {
  color: #f9b43b;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .order__title {
      margin-bottom: 2%;
      font-size: 3.2rem; } }
  @media screen and (max-width: 480px) {
    .order__title {
      margin-bottom: 1.4rem; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 80%;
      margin: 0 auto; } }
  @media screen and (max-width: 480px) {
    .form {
      width: 95%; } }

.form__col {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 2.1%; }
  .form__col:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .form__col {
      margin-right: 0; } }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.1%; }
  .form__row:last-child {
    margin-bottom: 0; }

.form__block {
  margin-right: 4.5%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: 'ubuntu';
  font-size: 0.875rem;
  font-weight: 300; }
  .form__block:last-child {
    margin-right: 0; }

.form__block-title {
  margin-bottom: 0.625rem; }

.form__block-input {
  border-radius: 5px;
  background: #fff;
  border: 2px solid #fff;
  width: 100%;
  padding: 9px 10px;
  outline: none;
  -webkit-transition: border-color .3s;
  -o-transition: border-color .3s;
  transition: border-color .3s; }

.form__block-input:focus {
  border: 2px solid #f9b43b;
  -webkit-transition: border-color .3s;
  -o-transition: border-color .3s;
  transition: border-color .3s; }

.form__block-input-textarea {
  resize: vertical;
  min-height: 6.6875rem; }

.form__block_controlls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 0; }

.form__radio, .form__checkbox {
  display: none; }

.form__radio_fake, .form__checkbox_fake {
  width: 16px;
  height: 16px;
  border: 1px solid #c9c9c9;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ededed), to(#ffffff));
  background-image: -webkit-linear-gradient(bottom, #ededed, #ffffff);
  background-image: -o-linear-gradient(bottom, #ededed, #ffffff);
  background-image: linear-gradient(to top, #ededed, #ffffff);
  position: relative;
  margin-right: 10px; }

.form__radio_fake {
  border-radius: 50%; }

.form__radio:checked ~ .form__radio_fake:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #e35028;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.form__checkbox:checked ~ .form__checkbox_fake:after {
  content: '\2714';
  color: #e35028;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.footer {
  background: url("../img/footer-bg.png") center center/cover no-repeat;
  position: absolute;
  bottom: 0;
  left: 0; }

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  @media screen and (max-width: 480px) {
    .footer__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.footer__col {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  @media screen and (max-width: 480px) {
    .footer__col {
      text-align: center; } }

.social {
  height: 100%; }

.social__icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1.25rem; }

.social__icon {
  fill: #2f3234;
  display: inline-block;
  -webkit-transition: fill .3s;
  -o-transition: fill .3s;
  transition: fill .3s; }
  .social__icon:hover {
    fill: #fff;
    -webkit-transition: fill .3s;
    -o-transition: fill .3s;
    transition: fill .3s; }

.social__icon_margin-0 {
  margin-right: 0; }

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%; }
  @media screen and (max-width: 480px) {
    .social__list {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.phone__icon {
  fill: #e45028;
  width: 0.75rem;
  height: 0.6875rem;
  display: inline-block; }

.phone__number {
  color: #e45028;
  font-family: 'ubuntu';
  font-weight: 700;
  font-size: 0.875rem;
  display: inline-block;
  padding-bottom: 2%;
  text-decoration: none; }

.address {
  font-family: 'ubuntu';
  font-weight: 300;
  font-size: 0.875rem;
  padding-top: 2%;
  display: block;
  text-decoration: none;
  color: #fff; }

@media screen and (max-width: 768px) {
  .hamburger__menu-link {
    width: 1.5rem;
    height: 0.25rem;
    background: #fff;
    border-radius: 0.3125rem;
    position: relative;
    margin: 0.625rem;
    display: block; }
    .hamburger__menu-link::before, .hamburger__menu-link::after {
      content: "";
      display: block;
      width: 1.5rem;
      height: 0.25rem;
      background: #fff;
      border-radius: 0.3125rem;
      position: absolute; }
    .hamburger__menu-link::before {
      bottom: 100%;
      margin-bottom: 0.3125rem; }
    .hamburger__menu-link::after {
      top: 100%;
      margin-top: 0.3125rem; } }
