//colors
$gray: #2f3234;
$red: #e45028;
$yellow: #f9b43b;

//setup
@import './layout/fonts.scss';
@import './layout/base.scss';

//common
@import './blocks/button.scss';
@import './blocks/title.scss';

//blocks
@import './blocks/hero.scss';
@import './blocks/header.scss';
@import './blocks/menu.scss';

@import 'blocks/logo.scss';
@import 'blocks/fixed-menu.scss';
@import 'blocks/arrow__down.scss';
@import 'blocks/best.scss';
@import 'blocks/reviews.scss';

@import './blocks/accordeon.scss';
@import './blocks/map.scss';
@import './blocks/mr-menu.scss';
@import './blocks/team.scss';
@import './blocks/order.scss';
@import './blocks/form.scss';
