* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'ubuntu';
  color: #fff;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  min-width: 0;
  min-height: 100%;
  // position: relative;
}

ul {
  margin: 0;
  padding: 0;
  li {
      list-style: none;
    }
}

.container {
  margin: 0 auto;
  width: auto;
  max-width: 945px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}
p {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}
footer {
  position: relative;
  width: 100%;
}

.section {
  height: 100vh;
  min-height: 650px;
  &_centered {
    .container {
      // height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

img {
  max-width: 100%;
}