.accordeon__item {
  position: relative;
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
}
.accordeon__item_active .accordeon__appearance {
  height: 95px;
}
.accordeon__item_active .accordeon__title {
  color: $yellow;
}
.accordeon__item_active .accordeon__title::before {
content: '';
border: 5px solid transparent;
width: 0;
height: 0;
border-bottom-color: $yellow;
border-top-width: 0;
border-left-width: 5px;
border-right-width: 5px;
margin-right: 9px;
}
.accordeon__title {
display: flex;
align-items: center;
font-size: 14px;
margin-bottom: 17px;
&:before {
  content: '';
border: 5px solid transparent;
width: 0;
height: 0;
border-top-color: $yellow;
border-bottom-width: 0;
border-left-width: 5px;
border-right-width: 5px;
display: inline-block;
margin-right: 9px;
}

}
.accordeon__desc {
  line-height: 1.42em;
}
.accordeon__desc-name {
  font-family: 'ubuntu';
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 12px;
}
.accordeon__desc-text {
  font-family: 'ubuntu';
  font-weight: 300;
  font-size: 14px;
  width: 53%;
}

.accordeon__appearance {
  height: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.accordeon__avatar {
  width: 18%;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
 overflow: hidden;
  display: inline-block;
  margin: 0 18px;
}