$color: #2f3234;
.best {
  background: url('../../img/bg_best.png') center center no-repeat;
  background-size: cover;
  .best__title {
    text-align: center;
    font-family: 'gagalin';
    font-size: 72px;
    color: #2f3234;
    padding-top: 133px;
    padding-bottom: 50px;
  }
  .best__list {
    display: flex;
    .best__item {
      text-align: center;
      width: 33%;
      color: $color;
      font-family: 'ubuntu';
      font-weight: 300;
      font-size: 14px;
      background: url('../../icons/meat.png') top center no-repeat;
      padding-top: 130px;
      &:nth-child(2) {
        background: url('../../icons/hand.png') top center no-repeat;
      }
      &:last-child {
        background: url('../../icons/natural.png') top center no-repeat;
        padding-bottom: 180px;
      }
    }
    .best__item-title {
      font-family: 'lifehack';
      font-size: 24px;
      line-height: 1.4em;
      padding-bottom: 10px;
    }
    .best__item-text {
      line-height: 1.9em;
    }
  }
}