.best {
  background: url('../img/bg_best.png') center center no-repeat;
  background-size: cover;
}

.best__title {
  color: $gray;
  text-align: center;
}

.best__list {
  display: flex;
  align-items: baseline;
}

.best__item {
  text-align: center;
 flex: 1;
 margin-right: 20px;
  color: $gray;
  font-weight: 300;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  &:last-child {
    margin-right: 0;
  }
}
.best__img {
  margin-bottom: 20px;
}
.best__icon {
  display: inline-block;
}

.best__desc-title {
  font-family: 'lifehack';
  font-size: 24px;
  padding-bottom: 15px;
}