.best {
  background: url('../../img/bg_best.png') center center no-repeat;
  background-size: cover;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
}

.best__title {
  @include title;
  color: $gray;
  text-align: center;
  margin-bottom: 55px;
}

.best__list {
  display: flex;
}

.best__item {
  text-align: center;
 flex: 1;
 margin-right: 20px;

  color: $gray;
  font-weight: 300;
  font-size: 14px;
  background: url('../../icons/meat.png') top center no-repeat;
  padding-top: 100px;
  &:nth-child(2) {
    background: url('../../icons/hand.png') top center no-repeat;
  }
  &:last-child {
    background: url('../../icons/natural.png') top center no-repeat;
    margin-right: 0;
  }
}

.best__desc-title {
  font-family: 'lifehack';
  font-size: 24px;
  padding-bottom: 10px;
}