.button {
  padding: 0.63rem 0.94rem;
  background: $red;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: 'ubuntu';
  font-size: 0.8125rem;
  font-weight: 500;  
}

.button_bg_none {
  background: none;
  font-family: 'ubuntu';
  font-size: 14px;
  font-weight: 300;
  text-transform: none;
  margin-left: 20px;
}