.calorie {
  position: absolute;
  left: 0;
  bottom: 18%;
  @include tablets {
    position: absolute;
    top: 15%;
    left: 73%;
  }
  @include phones {
    position: absolute;
    top: 2%;
    left: 82%;
  }
}
.calorie__link {
  text-decoration: none;
  position: relative;
}
.calorie__icon {
  width: 3.75rem;
  height: 3.75rem;
  fill: #fff;
}
.calorie__text {
  position: absolute;
  top: -97%;
  left: 22%;
  text-align: center;
  color: #fff;
  font-family: 'gagalin';
  font-size: 1.3125rem;
  font-weight: 400;
  text-transform: uppercase;
}
.calorie__text-desc {
  display: block;
  padding-top: 0.2rem;
  font-size: 0.875rem;
}

