.fixed-menu {
  position: fixed;
  top: 85px;
  right: 215px;
}

.fixed-menu_link {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  margin-top: 15px;
  position: relative;
}

.fixed-menu_item:hover,
.fixed-menu_item_active {
  .fixed-menu_link::after {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}