.form { display: -webkit-box; display: -ms-flexbox; display: flex; }

.form__col { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; margin-right: 20px; }
.form__col:last-child { margin-right: 0; }

.form__row { display: -webkit-box; display: -ms-flexbox; display: flex; margin-bottom: 20px; }
.form__row:last-child { margin-bottom: 0; }

.form__block { margin-right: 20px; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; font-family: 'ubuntu'; font-size: 14px; font-weight: 300; }
.form__block:last-child { margin-right: 0; }

.form__block-title { margin-bottom: 5px; }

.form__block-input { border-radius: 5px; background: #fff; border: 2px solid #fff; width: 100%; padding: 9px 10px; outline: none; -webkit-transition: border-color .3s; transition: border-color .3s; }

.form__block-input:focus { border: 2px solid #f9b43b; -webkit-transition: border-color .3s; transition: border-color .3s; }

.form__block-input-textarea { resize: vertical; min-height: 107px; }

.form__block_controlls { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-right: 0; }

.form__radio, .form__checkbox { display: none; }

.form__radio_fake, .form__checkbox_fake { width: 16px; height: 16px; border: 1px solid #c9c9c9; background-image: -webkit-gradient(linear, left bottom, left top, from(#ededed), to(#ffffff)); background-image: linear-gradient(to top, #ededed, #ffffff); position: relative; margin-right: 10px; }

.form__radio_fake { border-radius: 50%; }

.form__radio:checked ~ .form__radio_fake:after { content: ""; width: 8px; height: 8px; border-radius: 50%; background: #e35028; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); -webkit-transition: .3s; transition: .3s; }

.form__checkbox:checked ~ .form__checkbox_fake:after { content: '\2714'; color: #e35028; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); -webkit-transition: .3s; transition: .3s; }
