.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1%;
}
.header__btns {
  display: flex;
  align-items: center;
}
.header__button {
  margin-left: 0.9375rem;
}