.hero {
  background:  url('../img/texture.png'), url('../img/start-bg.png') center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.hero__content {
  flex: .8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__title {
  @include title;
  color: $yellow;
  margin-top: 44px;
  margin-bottom: 22px;
}

.hero__text {
  color: #fff;
  font-family: 'lifehack';
  font-weight: 500;
  font-size: 65px;
  line-height: 1em;
}

.hero__picture {
  margin: 0 16px;
  display: inline-block;
  margin-bottom: 38px;
}
