.hero {
  background:  url('../img/texture.png'), url('../img/start-bg.png') center center no-repeat;
  background-size: cover;
}

.hero__container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__content {
  display: flex;
  justify-content: center;
  align-items: center;
  @include tablets {
    flex-direction: column;
    justify-content: flex-start;
    // width: 100%;
  }
}
.hero__title {
  color: $yellow;
  margin-top: 2.7rem;
  margin-bottom: 1.35rem;
  @include tablets {
    margin-top: 1.7rem;
    margin-bottom: 1.1rem;
    font-size: 4rem;
  }
}

.hero__text {
  color: #fff;
  font-family: 'lifehack';
  font-weight: 500;
  font-size: 4.0625rem;
  line-height: 0.8em;
  @include tablets {
    text-align: center;
    width: 74%;
    font-size: 3.8rem;
  }
  @include phones {
    width: initial;
  }
}

.hero__picture {
  margin: 0 1rem;
  display: inline-block;
  margin-bottom: 2.375rem;
  @include tablets {
    margin: 0;
  }
  @include phones {
  }
}
