.menu {
  width: 70%;
  .menu__list {
    display: flex;
    justify-content: space-between;
    .menu__item {
      list-style-type: disc;
      &:first-child {
        list-style-type: none;
      }
      .menu__link {
        font-family: 'ubuntu';
        font-weight: 500;
        text-transform: uppercase;
        font-size: 13px;
        text-decoration: none;
        color: #fff;
      }
    }
  }
}