.order {
  background:  url('../img/order-texture.png'), url('../img/order-bg.png') center center no-repeat;
  background-size: cover;
}
.order__title {
  color: $yellow;
  text-align: center;
  @include phones {
    margin-bottom: 1.4rem;
  }
}