.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.opened {
  opacity: 1;
  transition: opacity .3s;
}

.overlay {
  background: rgba($gray, .92);
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.popup__container {
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  color: $gray;
  position: relative;
  text-align: center;
}

.popup__content {
  font-family: 'ubuntu';
  font-size: 0.875rem;
  font-weight: 300;
  margin-bottom: 1.05rem;
}

// .popup__close {
//   width: 20px;
//   height: 20px;
//   border-radius: 10px;
//   background: #e84393;
//   position: absolute;
//   top: -10px;
//   right: -10px;
// }

// .popup__close:after {
//   position: absolute;
//   content: "+";
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%) rotate(45deg);
//   color: #2d3436;
// }