.slider {
  background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__title {
  margin-bottom: 1%;
  line-height: 1em;
}

.slider__text {
  width: 60%;
}

.slider__content {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 940px; // height: 100%;
}

.slider__price {
  display: flex;
  align-items: baseline;
}

.slider__button {
  // display: inline-block;
}

.slider__desc {
  font-size: 0.875rem;
  font-weight: 300;
}

.slider__price-title {
  color: $red;
  margin-bottom: 0;
  margin-right: 1.875rem;
}

.slider__price-title-text {
  font-size: 2.5rem;
}