.slider {
  background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider__inner {
  display: flex;
  max-width: 940px;
  overflow: hidden; 
}
.slider__list {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  height: 100%;
  align-items: center;
  transition: right .3s;
}

.slider__item {
  min-width: 100%;
  height: 100%;
}

.slider__title {
  margin-bottom: 3rem;
  line-height: 0.9em;
  @include tablets {
    text-align: center;
  }
}

.slider__text {
  width: 52%;
  // line-height: 1.52em;
  @include tablets {
    width: 80%;
  }
}
.slider__img {
  width: 48%;
  @include tablets {
    width: 77%;
  }
}
.slider__content {
  display: flex;
  align-items: center;
  position: relative;
  min-width: 100%;
  height:100vh;
 @include tablets {
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }

}




.slider__desc {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.8em;
  @include tablets {
    text-align: center;
  }
}
.slider__price {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  @include tablets {
    justify-content: center;
  }
}
.slider__price-title {
  color: $red;
  margin-bottom: 0;
  margin-right: 1.875rem;
  @include phones {
    font-size: 2.846rem
  }
}

.slider__price-title-text {
  font-size: 1.9rem;
  @include phones {
    font-size: 0.875rem
  }
}