$color: #f9b43b;
.slogan {
  display: flex;
  justify-content: space-between;
  .slogan__img {
    padding-bottom: 95px;
  }
  .slogan__title {
    width: 50%;
    align-self: center;
    font-family: 'gagalin';
    font-size: 72px;
    color: $color;
    .slogan__text {
      font-family: 'lifehack';
      color: #fff;
      font-weight: 500;
      display: block;
      line-height: 1em;
    }
  }
}