.slogan {
  display: flex;
  justify-content: space-between;
  .slogan__img {
    padding-bottom: 95px;
  }
  .slogan__title {
    // @include title;
    color: $yellow;
    width: 50%;
    align-self: center;
    .slogan__text {
      font-family: 'lifehack';
      font-weight: 500;
      display: block;
      font-size: 65px;
    }
  }
}