.team {
  background: url('../img/bg_team.png') center center no-repeat;
  background-size: cover;
  position: relative;
}
.team__container {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 55%;
  background-color: $gray;
  opacity: .93;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include tablets {
      width: 100vw;
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
  }
}

.team__content {
  width: 80%;
  margin: 0 auto;
  @include tablets {
    text-align: center;
}
}

.team__title {
  color: $yellow;
}