.arrow__down {
  width: 35px;
  height: 25px;
  position: absolute;
  bottom: 40px;
  left: 48%;
}
  .arrow__down-link {
    display: block;
    width: 100%;
    height: 100%;
    // background: url('../img/arrow-scroll.png') center center no-repeat;
  }