.arrow__down {
align-self: center;
margin-bottom: 2.5%;
}
<<<<<<< HEAD
  .arrow__down-link {
    display: block;
    width: 100%;
    height: 100%;
    // background: url('../img/arrow-scroll.png') center center no-repeat;
  }
=======

.arrow__down-link {
  display: block;
  width: 100%;
  height: 100%;
}

.arrow__down-icon {
  fill: #fff;
  width: 1.8125rem;
  height: 0.875rem;
}
<<<<<<< HEAD
.arrow__left {
  margin-right: 2.5%;
  cursor: pointer;
}
.arrow__right {
  cursor: pointer;
}
.arrow__left-icon {
  fill: #fff;
  width: 1.8125rem;
  height: 0.875rem;
  transform: rotate(90deg);
}

.arrow__right-icon {
  fill: #fff;
  width: 1.8125rem;
  height: 0.875rem;
  transform: rotate(-90deg);
}
=======
>>>>>>> master
>>>>>>> be378f6f14204250b087f3e2407086bc66bcdd13
