.best {
  background: url('../img/bg_best.png') center center no-repeat;
  background-size: cover;
}

.best__title {
  color: $gray;
  text-align: center;
}

.best__list {
  display: flex;
  align-items: baseline;

  @include phones {
    flex-direction: column;
  }
}

.best__item {
  text-align: center;
 flex: 1;
 margin-right: 20px;
  color: $gray;
  font-weight: 300;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  &:last-child {
    margin-right: 0;
  }
  @include phones {
    margin-right: 0;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
    margin-bottom: 4%;
  }
}
.best__img {
  margin-bottom: 20px;
  @include phones {
    margin: 0;
  }
}
.best__icon {
  width: 97px;
  height: 85px;
}
.best__desc {
  @include phones {
    width: 75%;;
  }
}
.best__desc-title {
  font-family: 'lifehack';
  font-size: 24px;
  padding-bottom: 15px;
}