.carte {
  background:url('../img/bg-menu.png') center center no-repeat / cover;
  position: relative;
}
.title__carte {
  color: #fff;
  position: absolute;
  top: 9%;
  left: 10%;
  margin: 0;
}
.carte__accordeon {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.carte__list {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.carte__item {
  display: flex;
  height: 100%;
}

.carte__title {
  min-width: 70px;
  display: flex;
  height: 100%;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2% 1%;
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(20,20,20,0.7);
    display: block;
}
@include phones {
      padding: 0.7% 0.5%;
    }
}
.carte__title_meat {
  background-image: url(../img/menu_meat.png);
}
.carte__title_veg {
  background-image: url(../img/menu-veg.png);
}
.carte__title_diet {
  background-image: url(../img/menu-diet.png);
}

.carte__title-text {
  position: absolute;
  transform: rotate(-90deg);
  top: 90%;
  white-space: nowrap;
  left: 50%;
  transform-origin: 0 50%;
  font-size: 2.5rem;
  font-family: 'gagalin';
}

.carte__desc {
  width: 0;
  overflow: hidden;
  transition: width .3s;
}
.carte__appear {
  width: 100;
  height: 100%;
  transition: width .3s;
  font-size: 0.875rem;
  font-weight: 300;
  background: $gray;
  opacity: .93;
  line-height: 1.42em;
  @include phones {
    opacity: .98;
    display: flex;
    flex-direction: column;
  }
  
}
.carte__text {
  padding: 10% 8%;
  line-height: 1.7em;
  @include phones {
        padding: 1% 7%;
      }
}
.js-carte__item {
  width: 47%;
  @include tablets {
    width: 100%;
  }
  @include phones {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
  }
}
.js-carte__item .carte__desc {
  width: 100%;
  transition: width .3s;
}

.js-carte__item .carte__title {
  color: $yellow;
}