.close {
  align-self: flex-end;
  position: relative;
  margin-top: 3%;
  margin-right: 2%;
  width: 1.539rem;
  height: 1.539rem;
  cursor: pointer;
&:before, &::after {
  position: absolute;
  left: 50%;
  content: '';
  height: 1.539rem;
  width: 0.24rem;
  background-color: #ffffff;
  border-radius: 25%;
}
&:before {
  transform: rotate(45deg);
}
&::after {
  transform: rotate(-45deg);
}
}