.menu {
  display: flex;
  @include tablets {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 9999px;
    right: 0;
    background: $gray;
    height: 100%;
    // display: none;
    flex-direction: column;
    justify-content: center;
    z-index: 25;
    transition: left .2s;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  @include tablets {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 
}
.menu__item {
  display: flex;
  align-items: center;
  &:last-child {
    &:after {
      display: none;
    }
  }
  &:after {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff;   
    margin: 0 16px;
    @include tablets {
      margin: 20px 0;
    }
  }
  @include tablets {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.menu__link {
  color: #fff;
  text-decoration: none;
  font-family: 'ubuntu';
  font-size: 0.8125rem;
  font-weight: 500;
  text-transform: uppercase;

  @include tablets {
    font-size: 1.6rem;
  }
}