.phone__icon {
  fill: #e45028;
  width: 12px;
  height: 11px;
  display: inline-block;
}
.phone__number {
  color: $red;
  font-family: 'ubuntu';
  font-weight: 700;
  font-size: 14px;
  display: inline-block;
  padding-bottom: 10px;
}