.reviews {
  background: #000;
  position: relative;
}
.reviews__list {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.reviews__item {
  width: 25%;
  height: 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  position: relative;
  &:hover .reviews__text {
    opacity: 1;
    transition: opacity .3s;
  }
  @include tablets {
    width: 50%;
    height: 25%;
  }
}
.reviews__text {
  position: absolute;
  top: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(#000000, .52);
  padding: 25px; 
  padding-left: 20px;
  color: #fff;
  opacity: 0;
  overflow: hidden;
  transition: opacity .3s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  @include tablets {
    align-items: center; 
  }
  @include phones {
    align-items: center; 
  }
}
.reviews__text-title {
  font-family: 'gagalin';
  text-transform: uppercase;
  padding-bottom: 4%;
  font-weight: 0.875rem;
  @include tablets {
    padding-bottom: 2%;
  }
  @include phones {
    text-align: center;
    font-size: 2rem;
  }
}
.reviews__text-desc {
  font-weight: 300;
  width: 72%;
  font-size: 14px;
  overflow: hidden;
  @include phones {
    display: none;
  }
}
.reviews__btn {
  @include phones {
    display: none;
  }
}
.reviews__btn_phone {
  display: none;
  @include phones {
    display: block;
    text-align: center;
  }
}
.reviews__text-button {
  background-color: $gray;
  margin-top: 17px;
}