.consist {
  position: relative;
  overflow:  hidden;
}
.consist__link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: rgba(227, 80, 40, 0.4);
  padding: 0.8125rem 1.25rem;
  border-radius: 3px;
}
.consist__icon {
  width: 2.875rem;
  height: 2.75rem;
  fill: #fff;
}
.consist__text {
  font-family: 'gagalin';
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
}
.consist__ingredient-icon {
  width: 2.875rem;
  height: 2.75rem;
  @include phones {
    width: 2rem;
  }
}

.consist__ingredien-icon_beef, .consist__ingredien-icon_sauce {
  fill: $red;
}

.consist__ingredien-icon_buns, .consist__ingredien-icon_cheese {
  fill: $yellow;
}
.consist__ingredien-icon_salad, .consist__ingredien-icon_cucumber {
  fill: $green;
}
.consist__link:hover {
  background-color:rgba(227, 80, 40, 1);
}
.consist__link:hover+.consist__list {
  opacity: 1;
  transition: opacity .3s;
}
.consist__list {
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  left: 5.4rem;
  top: 0;
  background-color:rgba(250, 250, 250, 0.9);
  border-radius: 3px;
  width: 60%;
  transition: opacity .3s;
  z-index: 20;
  @include laptop {
    width: 70%;
  }
    @include phones {
    width: 80%;
  }
}
.consist__item {
  display: flex;
  color: $gray;
  white-space: nowrap;
  padding: 1% 8%;
  width: 94%;
  margin: 0 auto;
  @include tablets {
    padding: 1% 1%;
  }
}

.consist__ingredient{
  margin-right: 1rem;
}
.col__left {
  display: flex;
  align-items: center;
  width: 60%;
  @include tablets {
    width: 55%;
  }

}
.col__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
  @include phones {
    width: 38%;
  }
}