.consist {
  position: relative;
}
.consist__link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: rgba(227, 80, 40, 0.4);
  padding: 0.8125rem 1.25rem;
  border-radius: 3px;
}
.consist__icon {
  width: 2.875rem;
  height: 2.75rem;
  fill: #fff;
}
.consist__text {
  font-family: 'gagalin';
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
}
.consist__ingredien-icon {
  width: 2.875rem;
  height: 2.75rem;
}

.consist__ingredien-icon_beef, .consist__ingredien-icon_sauce {
  fill: $red;
}

.consist__ingredien-icon_buns, .consist__ingredien-icon_cheese {
  fill: $yellow;
}
.consist__ingredien-icon_salad, .consist__ingredien-icon_cucumber {
  fill: $green;
}
.consist__link:hover {
  background-color:rgba(227, 80, 40, 1);
}
.consist__link:hover+.consist__table {
  opacity: 1;
  transition: opacity .3s;
}
.consist__table {
  opacity: 0;
  position: absolute;
  left: 19%;
  top: 0;
  background-color:rgba(250, 250, 250, 0.9);
  border-radius: 3px;
  border-collapse: collapse;
  width: 70%;
  transition: opacity .3s;
  z-index: 20;
}
.table__cell {
  color: $gray;
  white-space: nowrap;
  padding: 1% 8%;
  @include tablets {
    padding: 1% 3%;
  }
}
.table__cell_text-right {
  text-align: right;
}

.table__row_last-cell-dnone > *:last-child {
  display: none;
  @include tablets {
    position: relative;
    display: table-cell;
    padding-left: 2%;
    padding-right: 15%;
    vertical-align: top;
  }  @include phones {
    padding-right: 10%;
  }
}