.duration {
  display: flex;
  align-items: center;
  flex: 1;
  position: relative;
}

.duration__img {
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left-color: #626262;
  padding: 0;
  border-right-width: 0;
  background: transparent;
  position: absolute;
  top: 5px;
  left: 11px;
  outline: none;
  @include laptop {
    top: 3px;
  }
  @include phones {
    top: 2px;
    left: 7px;
  }
}

.duration__img-active {
    width: 14px;
    height: 22px;
    border: none;
    &:after,
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 4px;
      top: 0;
      bottom: 0;
      background: #626262;
      margin: 2px 0;
      @include tablets {
        width: 4px;
      }
    }
    &:after {
      left: 9px;
      @include tablets {
       left: 7px;
      }
    }
    &:before {
      left: 0px;
    }

}

.duration__length {
  width: 100%;
  height: 4px;
  border-radius: 1px;
  background-color: #626262;
  -webkit-appearance: none;/*Override default CSS styles*/
  appearance: none;   
  outline: none;
  margin-left: 2rem;
}

.duration__length--other{
  width: 58px;
  height: 4px;
  margin-left: 0;
}

.duration__length::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  background: #626262;    
  cursor: pointer;
  width: 13px;
  height: 13px;
  border-radius: 50%;    
}

.duration__circle {
  cursor: pointer;
  margin-top: -4px;
  display: block;
}

.duration__circle--high {
  right: 0;
  position: absolute;
}