.footer {
  background: url('./img/footer-bg.png') center center / cover no-repeat;
position: absolute;
bottom: 0;
left: 0;
z-index: 1;
}
.footer__container {
display: flex;
flex-direction: row;
@include phones {
  flex-direction: column;
}

}
.footer__col {
  flex: 1;
  @include phones {
   text-align: center;
  }
}
