.slider {
  background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider__inner {
  display: flex;
  max-width: 940px;
  overflow: hidden; 
}
.slider__list {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  height: 100%;
  align-items: center;
  transition: right .3s;
  right: 0;
}

.slider__item {
  min-width: 100%;
  height: 100%;
}

.slider__title {
  margin-bottom: 3rem;
  line-height: 0.9em;
  @include tablets {
    text-align: center;
  }
}

.slider__text {
  width: 52%;
  @include tablets {
    width: 80%;
  }
  @include phones {
    width: 100%;
  }
}
.slider__img {
  width: 48%;
  position: relative;
  overflow: hidden;
  @include tablets {
    width: 77%;
  }
}

.slider__calorie {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: .5;
  @include tablets {
    left: 85%;
    top: 0;
  }
}

.slider__calorie-icon {
  width: 3.75rem;
  height: 3.75rem;
  fill: #fff;
}
.slider__calorie-text {
  position: absolute;
  top: 1.8rem;
  left: 0.8rem;
  text-align: center;
  color: #fff;
  font-family: 'gagalin';
  font-size: 1.3125rem;
  font-weight: 400;
  text-transform: uppercase;
}
.slider__calorie-text-desc {
  display: block;
  padding-top: 0.2rem;
  font-size: 0.875rem;
}
.slider__content {
  display: flex;
  align-items: center;
  position: relative;
  min-width: 100%;
  height:100vh;
 @include tablets {
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }
}
.slider__desc {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.8em;
  @include tablets {
    text-align: center;
  }
}
.slider__price {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  @include tablets {
    justify-content: center;
  }
}
.slider__price-title {
  color: $red;
  margin-bottom: 0;
  margin-right: 1.875rem;
  @include phones {
    font-size: 2.846rem
  }
}
.slider__price-title-text {
  font-size: 1.9rem;
  @include phones {
    font-size: 0.875rem
  }
}