.team {
  background: url('./img/bg_team.png') center center no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.team__container {
  width: 50%;
  position: absolute;
  background-color: $gray;
  top: 0;
  opacity: .93;
  padding: 7% 9%;
@include tablets {
  width: 100%;
  text-align: center;
}  
}
.title__team {
  color: $yellow;
  text-decoration: none;
}
.team__item {
  margin-bottom: 3%;
  &:last-child {
    margin-bottom: 0;
  }
  @include tablets {
    text-align: center;
    margin-bottom: 3.5%;
  }
}

.team__headline {
  cursor: pointer;
  font-family: 'gagalin';
  font-size: 0.875rem;
  margin-bottom: 3.5%;

  &:before {
    content: '';
    border: 5px solid transparent;
    width: 0;
    height: 0;
    border-top-color: $yellow;
    border-bottom-width: 0;
    border-left-width: 5px;
    border-right-width: 5px;
    display: inline-block;
    margin-right: 1%;
  }
  @include tablets {
    font-size: 1.5625rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.team__text {
  height: 0;
  overflow: hidden;
  transition: height .3s;
}

.team__text-appear {
    display: flex;
  @include tablets {
    flex-direction: column;
    align-items: center;
  }
}

.team__avatar {
  width: 7.25rem;
  height: 7.25rem;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 3.9%;
  @include tablets {
    margin-bottom: 2%;
  }
}

.js-team__item .team__text {
  transition: height .3s;
}

.js-team__item .team__title {
  color: $yellow;
}

.js-team__item .team__title::before {
  transform: rotate(-180deg)
}

.team__desc {
  font-family: 'ubuntu';
  font-size: 0.875rem;
  width: 47%;
  @include tablets {
    width: 75%;
  }
}

.team__desc-name {
  font-weight: 700;
  margin-bottom: 2%;
}

.team__desc-text {
  font-weight: 300;
  line-height: 1.65em;
}