.arrow__down {
  position: absolute;
  left: 48.5%;
  bottom: 2.5rem;
}

.arrow__down-link {
  display: block;
  width: 100%;
  height: 100%;
}

.arrow__down-icon {
  fill: #fff;
  width: 1.8125rem;
  height: 0.875rem;
}