.menu {
  @include tablets {
    display: none;
  }
}
.menu__list {
  display: flex;
  align-items: center;
}
.menu__item {
  display: flex;
  align-items: center;
  &:last-child {
    &:after {
      display: none;
    }
  }
  &:after {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff;   
    margin: 0 16px;
  }
}

.menu__link {
  color: #fff;
  text-decoration: none;
  font-family: 'ubuntu';
  font-size: 0.8125rem;
  font-weight: 500;
  text-transform: uppercase;
}